<footer class="footer">
    <div class="sidebar">

        <div class="ftNav anim fadeInRight">
            <ul>
                <li>
                    <h3>國際雲平台報價</h3>
                </li>
                <li><a rel="nofollow" href="https://www.alibabacloud.com/zh/pricing-calculator" title="阿里雲國際" target="_blank">阿里雲國際</a></li>
                <li><a rel="nofollow" href="https://www.tencentcloud.com/zh/pricing?lang=zh" title="騰訊雲國際" target="_blank">騰訊雲國際</a></li>
                <li><a rel="nofollow" href="https://www.huaweicloud.com/intl/zh-cn/pricing/calculator.html" target="_blank">華為雲國際</a></li>
                <li><a rel="nofollow" href="https://calculator.aws/#/" target="_blank" title="亞馬遜雲(AWS)">亞馬遜雲(AWS)</a></li>
                <li><a rel="nofollow" href="https://cloud.google.com/pricing?hl=zh-CN" target="_blank" title="谷歌雲(GCP)">谷歌雲(GCP)</a></li>
                <li><a rel="nofollow" href="https://azure.microsoft.com/zh-cn/pricing/calculator/" target="_blank" title="微軟雲(azure)">微軟雲(azure)</a></li>
            </ul>
            <ul>
                <li>
                    <h3>服務項目</h3>
                </li>
                <li><a href="/Cloud/" title="雲產品">雲產品</a></li>
                <li><a href="/Server/">物理機</a></li>
            </ul>
            <ul>
                <li>
                    <h3>幫助文檔</h3>
                </li>
                <li><a href="/Solution/" title="解決辦法">解決辦法</a></li>
                <li><a href="/Introduce" title="購買說明">購買說明</a></li>
            </ul>
            <ul>
                <li>
                    <h3>關於我們</h3>
                </li>
                <li><a href="/Contact">聯絡我們</a></li>
            </ul>
        </div>

        <div class="widget widget-tie social w50 anim fadeInRight">
            <div class="addBox">
                <span class="tel"><i class="fa fa-phone-square"></i>+86 17860355467</span> <span>手機：+86 17860355467</span>
            </div>

            <a href="mailto:250339@qq.com" target="_blank" class="socialLink s-email" rel="nofollow" title="郵箱"><i class="fa fa-envelope"></i></a>

        </div>
    </div>
    <div class="footer-text anim fadeInRight" data-wow-offset="0">
        {eq name='control' value='index'}
        <div class="link"><span>友鏈 : </span>
            <ul>
                {volist name='links' id='vo'}
                <li class="link-item"><a href="{$vo.url}" title="{$vo.name}" target="_blank">{$vo.name}</a></li>
                {/volist}
            </ul>
        </div>
        {/eq}
        <div class="copyright umThemeBy">
            Copyright &copy; <a href="/" title="{$sysconf.webname}">{$sysconf.webname}</a>
            <label id="umTheme"></label>
            &nbsp;Gugu Intelligent Technology Co., Ltd / {$sysconf.webname}：智慧科技有限公司 | 
            <a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">{$sysconf.miitbeian}</a></div>
    </div>
</footer>

<!--在線客服-->

<!--<div class="cndns-right">
    <div class="cndns-right-meau meau-sevses"> <a href="javascript:" class="cndns-right-btn">微信 聯繫</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b2">
                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小時在線微信</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='0'}
                        <li><span>{$vo.nickname} 賬號：{$vo.code}</span></li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-sevs"> <a href="javascript:" class="cndns-right-btn">QQ 聯繫</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b1">
                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小時在線QQ</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='1'}
                        <li><span>{$vo.nickname} 賬號：{$vo.code}</span></li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-sev"> <a href="javascript:" class="cndns-right-btn">TG 聯繫</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b">

                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小時在線Telegram</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='2'}
                        <li><a rel="nofollow" target="_blank" href="{$vo.url}">{$vo.nickname}</a> 賬號：{$vo.code}</li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-top" id="top-back"> <a href="javascript:" class="cndns-right-btn" onClick="topBack()"> </a> </div>
</div>-->
<script type="text/javascript">
    //置頂圖標顯示
    //$('#top-back').hide()
    $(window).scroll(function() {
        if ($(this).scrollTop() > 350) {
            //$("#top-back").fadeIn();
        } else {
            //$("#top-back").fadeOut();
        }
    })
    //置頂事件
    function topBack() {
        $('body,html').animate({
            scrollTop: 0
        }, 300);
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0951ad5e48b0352291c00fe97a2475c8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
