<footer class="footer">
    <div class="sidebar">

        <div class="ftNav anim fadeInRight">
            <ul>
                <li>
                    <h3>国际云平台报价</h3>
                </li>
                <li><a rel="nofollow" href="https://www.alibabacloud.com/zh/pricing-calculator" title="阿里云国际" target="_blank">阿里云国际</a></li>
                <li><a rel="nofollow" href="https://www.tencentcloud.com/zh/pricing?lang=zh" title="腾讯云国际" target="_blank">腾讯云国际</a></li>
                <li><a rel="nofollow" href="https://www.huaweicloud.com/intl/zh-cn/pricing/calculator.html" target="_blank">华为云国际</a></li>
                <li><a rel="nofollow" href="https://calculator.aws/#/" target="_blank" title="亚马逊云(AWS)">亚马逊云(AWS)</a></li>
                <li><a rel="nofollow" href="https://cloud.google.com/pricing?hl=zh-CN" target="_blank" title="谷歌云(GCP)">谷歌云(GCP)</a></li>
                <li><a rel="nofollow" href="https://azure.microsoft.com/zh-cn/pricing/calculator/" target="_blank" title="微软云(azure)">微软云(azure)</a></li>
            </ul>
            <ul>
                <li>
                    <h3>服务项目</h3>
                </li>
                <li><a href="/Cloud/" title="云产品">云产品</a></li>
                <li><a href="/Server/">物理机</a></li>
            </ul>
            <ul>
                <li>
                    <h3>帮助文档</h3>
                </li>
                <li><a href="/Solution/" title="解决办法">解决办法</a></li>
                <li><a href="/Introduce" title="购买说明">购买说明</a></li>
            </ul>
            <ul>
                <li>
                    <h3>关于我们</h3>
                </li>
                <li><a href="/Contact">联系我们</a></li>
            </ul>
        </div>

        <div class="widget widget-tie social w50 anim fadeInRight">
            <div class="addBox">
                <span class="tel"><i class="fa fa-phone-square"></i>+86 400888888</span> <span>手机：+86 18888888888</span>
            </div>

            <a href="mailto:250339@qq.com" target="_blank" class="socialLink s-email" rel="nofollow" title="邮箱"><i class="fa fa-envelope"></i></a>

        </div>
    </div>
    <div class="footer-text anim fadeInRight" data-wow-offset="0">
        {eq name='control' value='index'}
        <div class="link"><span>友情链接 : </span>
            <ul>
                {volist name='links' id='vo'}
                <li class="link-item"><a href="{$vo.url}" title="{$vo.name}" target="_blank">{$vo.name}</a></li>
                {/volist}
            </ul>
        </div>
        {/eq}
        <div class="copyright umThemeBy">
            Copyright &copy; <a href="/" title="{$sysconf.webname}">{$sysconf.webname}</a>
            <label id="umTheme"></label>
            &nbsp;Gugu Intelligent Technology Co., Ltd / {$sysconf.webname}：谷咕智慧科技有限公司 | 
            <a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">{$sysconf.miitbeian}</a></div>
    </div>
</footer>

<!--在线客服-->

<!--<div class="cndns-right">
    <div class="cndns-right-meau meau-sevses"> <a href="javascript:" class="cndns-right-btn">微信 联系</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b2">
                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小时在线微信</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='0'}
                        <li><span>{$vo.nickname} 账号：{$vo.code}</span></li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-sevs"> <a href="javascript:" class="cndns-right-btn">QQ 联系</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b1">
                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小时在线QQ</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='1'}
                        <li><span>{$vo.nickname} 账号：{$vo.code}</span></li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-sev"> <a href="javascript:" class="cndns-right-btn">TG 联系</a>
        <div class="cndns-right-box">
            <div class="box-border">
                <div class="sev-b">

                    <ul id="zixunUl">
                        <li style="width:90%; margin:0 auto 5px auto; padding-top:10px; padding-bottom:10px; border-bottom:1px #ff6867 solid;">24小时在线Telegram</li>
                        {volist name='custom' id='vo'}
                        {eq name='vo.type' value='2'}
                        <li><a rel="nofollow" target="_blank" href="{$vo.url}">{$vo.nickname}</a> 账号：{$vo.code}</li>
                        {/eq}
                        {/volist}
                        <div class="clear"></div>
                    </ul>
                </div>
                <span class="arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="cndns-right-meau meau-top" id="top-back"> <a href="javascript:" class="cndns-right-btn" onClick="topBack()"> </a> </div>
</div>-->
<script type="text/javascript">
    //置顶图标显示
    //$('#top-back').hide()
    $(window).scroll(function() {
        if ($(this).scrollTop() > 350) {
            //$("#top-back").fadeIn();
        } else {
            //$("#top-back").fadeOut();
        }
    })
    //置顶事件
    function topBack() {
        $('body,html').animate({
            scrollTop: 0
        }, 300);
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0951ad5e48b0352291c00fe97a2475c8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
