{extend name="base" /}
{block name="title"}商品管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">標題</label>
                        <div class="layui-input-inline">
                            <input name="title" class="layui-input" autocomplete="off" placeholder="請輸入標題"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">商品分類</label>
                        <div class="layui-input-inline">
                            <div id="classifyParentSel" class="mx-xmselect-tree"></div>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="roleTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜尋
                        </button>
                        <button class="layui-btn layui-btn-warm" lay-filter="roleTbExport" lay-submit>
                            <i class="layui-icon">&#xe67d;</i>匯出
                        </button>
                    </div>
                </div>
            </form>
            <!-- 資料表格 -->
            <table id="roleTable" lay-filter="roleTable"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="roleTbBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">刪除</a>
</script>
<!-- 表格狀態列 -->
<script type="text/html" id="userTbState">
    <input type="checkbox" lay-filter="userTbStateCk" value="{{d.id}}" lay-skin="switch" lay-text="是|否" {{d.status==1?'checked':''}} style="display: none;"/>
    <p style="display: none;">{{d.status==1?'是':'否'}}</p>
</script>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/assets/libs/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'zTree', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#roleTable',
            url: "{:url('mxadmin/product/datalist')}",
            page: {limit: 45},
            limits: [15, 30, 45, 60, 75, 90, 100, 200, 500],
            cellMinWidth: 100,
            toolbar: ['<p>',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>批量刪除</button>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加商品</button>',
                '</p>'].join(''),
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', align: 'center', sort: true, width: 100},
                {field: 'title', title: '標題', align: 'left'},
                {field: 'classname', title: '分類', align: 'left'},
                {field: 'configinfo', title: '配置', align: 'left', width: 300},
                {field: 'price', title: '賣價', align: 'left'},
                {field: 'num', title: '存貨量', align: 'left'},
                {field: 'status', title: '是否推薦', templet: '#userTbState', align: 'center'},
                {title: '操作', toolbar: '#roleTbBar', align: 'center', minWidth: 280, fixed: 'right'}
            ]],
            parseData: function(res){ //res 即為原始返回的資料
                return {
                    "code": res.code, //解析接口狀態
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析資料長度
                    "data": res.data.data //解析資料列表
                };
            }
        });

        /* 表格搜尋 */
        form.on('submit(roleTbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}, url:"{:url('mxadmin/product/search')}"}); 
            return false;
        });

        /* 表格工具條點擊事件 */
        table.on('tool(roleTable)', function (obj) {
            if (obj.event === 'del') {
                doDel(obj);
            } else if (obj.event === 'edit') {
                showEditModel(obj.data);
            }
        });

        /* 表格頭工具欄點擊事件 */
        table.on('toolbar(roleTable)', function (obj) {
            if (obj.event === 'del') { // 刪除
                var checkRows = table.checkStatus('roleTable');
                if (checkRows.data.length === 0) {
                    layer.msg('請選擇要刪除的資料', {icon: 5, anim: 6});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            } else if (obj.event === 'add') {
                showEditModel();
            }
        });

        /* 修改啟用狀態 */
        form.on('switch(userTbStateCk)', function (obj) {
            var loadIndex = layer.load(2);
            $.post("{:url('mxadmin/product/edit_state_same')}", {
                id: obj.elem.value,
                status: obj.elem.checked ? 1 : 0
            }, function (res) {
                layer.close(loadIndex);
                if (res.code === 1) {
                    layer.msg(res.msg);
                    insTb.reload();
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'json');
        });

        /* 顯示表單彈窗 */
        function showEditModel(mData) {
            var layIndex = admin.open({
                title: (mData ? '修改' : '添加') + '商品',
                shade: 0.5,
                url: "{:url('mxadmin/product/form')}",
                data: {formdata: mData},     // 傳遞資料到表單頁面
                end: function () {
                    if (admin.getLayerData(layIndex, 'formOk')) {  // 判斷表單操作成功標識
                        insTb.reload();  // 成功刷新表格
                    }
                },
                success: function (layero, dIndex) {
                    // 彈窗超出範圍不出現滾動條
                }
            });
            // 窗口打開即全屏
            layer.full(layIndex);
        }

        /* 刪除 */
        function doDel(obj) {
            layer.confirm('確定要刪除選中的資料嗎？', {
                title: '刪除資料',
                skin: 'layui-layer-admin',
                shade: 0.5,
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.post("{:url('mxadmin/product/del')}", {
                    id: obj.data ? obj.data.id : '',
                    ids: obj.ids ? obj.ids.join(',') : ''
                }, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 5, anim: 6});
                    }
                }, 'json');
            });
        }

        // 渲染下拉樹
        var insXmSel = xmSelect.render({
            el: '#classifyParentSel',
            name: 'cid',
            layVerType: 'tips',
            height: '400px',
            initValue: [],
            model: {label: {type: 'text'}},
            prop: {
                name: 'name',
                value: 'id'
            },
            radio: true,
            clickClose: true,
            filterable: true,
            filterMethod: function(val, item, index, prop){
                if(item.name.toLowerCase().indexOf(val.toLowerCase()) != -1){
                    return true;
                }
                return false;
            },
            searchTips: '請輸入關鍵詞進行搜尋',
            tree: {
                show: true,
                indent: 15,
                strict: false,
                expandedKeys: true
            },
            data: {:json_encode($class)},
        });

        /* 表格匯出 */
        form.on('submit(roleTbExport)', function (data) {
            loading = layer.load(1, {shade: [0.3, '#fff']});
            var $ = layui.jquery;
            var excel = layui.excel;
            $.ajax({
                url: '{:url("mxadmin/product/excel")}',
                data: data.field,
                success: function(res) {
                    layer.close(loading);
                    layer.msg(res.msg);
                    res.data.unshift({title: '文章標題',keywords:'關鍵詞',intro:'文章介紹',url:'文章地址'});
                    excel.exportExcel({
                        sheet1: res.data
                    }, '上線文章.xlsx', 'xlsx');
                },
                error:function(res){
                    layer.close(loading);
                    layer.msg(res.msg);
                }
            });
            return false;
        });

        /* 修改啟用狀態 */
        form.on('switch(userTbStateCk)', function (obj) {
            var loadIndex = layer.load(2);
            $.post("{:url('mxadmin/product/edit_state_same')}", {
                id: obj.elem.value,
                status: obj.elem.checked ? 1 : 0
            }, function (res) {
                layer.close(loadIndex);
                if (res.code === 1) {
                    layer.msg(res.msg);
                    insTb.reload();
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'json');
        });
    });
</script>
{/block}
