{extend name="base" /}
{block name="title"}独立服务器{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具栏 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">IP地址</label>
                        <div class="layui-input-inline">
                            <input name="ip" class="layui-input" autocomplete="off" placeholder="请输入独立IP"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-inline">
                            <input name="uid" class="layui-input" autocomplete="off" placeholder="请输入用户ID"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">到期时间</label>
                        <div class="layui-input-inline">
                            <input name="end_time" id="end_time" class="layui-input icon-date" placeholder="选择到期时间" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="roleTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 数据表格 -->
            <table id="roleTable" lay-filter="roleTable"></table>
        </div>
    </div>
</div>

<!--表单弹窗-->
<script type="text/html" id="roleAddVps">
    <form id="roleAddForm" lay-filter="roleAddForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户ID</label>
            <div class="layui-input-block">
                <input name="uid" placeholder="请输入用户ID" class="layui-input" autocomplete="off" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器信息</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入服务器信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">续费价格</label>
            <div class="layui-input-block">
                <input name="seller" placeholder="请输入续费价格" class="layui-input" autocomplete="off" lay-verType="tips" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代理价格</label>
            <div class="layui-input-block">
                <input name="agsell" placeholder="请输入代理价格" class="layui-input" autocomplete="off" lay-verType="tips" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出厂价格</label>
            <div class="layui-input-block">
                <input name="price" placeholder="请输入出厂价格" class="layui-input" autocomplete="off" lay-verType="tips" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input name="endtime" id="endtime" class="layui-input icon-date" placeholder="选择到期时间" autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input name="remarks" placeholder="请输入联系方式" class="layui-input" autocomplete="off" lay-verType="tips" />
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="roleAddSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="roleTbBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{/block}
{block name="script"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'laydate', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var laydate = layui.laydate;
        var xmSelect = layui.xmSelect;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#roleTable',
            url: "{:url('mxadmin/stand/datalist')}",
            page: {limit: 45},
            limits: [15, 30, 45, 60, 75, 90, 100, 200, 500],
            cellMinWidth: 100,
            toolbar: ['<p>',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>批量删除</button>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加服务器</button>',
                '</p>'].join(''),
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', align: 'left',unresize: true, totalRowText: '合计'},
                {field: 'users', title: '用户信息', align: 'left'},
                {field: 'content', title: '服务器信息', align: 'left'},
                {field: 'seller', title: '续费价格', align: 'left',totalRow: true},
                {field: 'agsell', title: '代理价格', align: 'left',totalRow: true},
                {field: 'price', title: '出厂价格', align: 'left',totalRow: true},
                {field: 'time', title: '添加时间<br>到期时间', align: 'left'},
                {field: 'remarks', title: '联系方式', align: 'left'},
                {title: '操作', toolbar: '#roleTbBar', align: 'center', minWidth: 100, fixed: 'right'}
            ]],
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
        });

        laydate.render({
            elem: '#end_time',
            type: 'date',
            value: new Date(),
            isInitValue: false
        });

        /* 表格搜索 */
        form.on('submit(roleTbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}, url:"{:url('mxadmin/stand/search')}"});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(roleTable)', function (obj) {
            var data;
            if (obj.event === 'del') {
                doDel(obj);
            }else if (obj.event === 'edit') {
                showEditModel(obj.data);
            }
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(roleTable)', function (obj) {
            if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('roleTable');
                if (checkRows.data.length === 0) {
                    layer.msg('请选择要删除的数据', {icon: 5, anim: 6});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }else if (obj.event === 'add') {
                showEditModel();
            }
        });

        /* 显示独立服务器添加弹窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '服务器',
                area: '510px',
                shade: 0.5,
                //shadeClose: true,
                content: $('#roleAddVps').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('roleAddForm', mData);
                    laydate.render({
                        elem: '#endtime',
                        type: 'date',
                        value: new Date(),
                        isInitValue: false
                    });
                    // 表单提交事件
                    form.on('submit(roleAddSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.post(mData ? "{:url('mxadmin/stand/edit')}" : "{:url('mxadmin/stand/add')}", data.field, function (res) {
                            layer.close(loadIndex);
                            if (res.code === 1) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload();  // 保存成功刷新表格
                            } else {
                                layer.msg(res.msg, {icon: 5, anim: 6});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除选中的数据吗？', {
                title: '删除数据',
                skin: 'layui-layer-admin',
                shade: 0.5,
                //shadeClose: true,
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.post("{:url('mxadmin/stand/del')}", {
                    id: obj.data ? obj.data.id : '',
                    ids: obj.ids ? obj.ids.join(',') : ''
                }, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 5, anim: 6});
                    }
                }, 'json');
            });
        }
    });
</script>
{/block}