{extend name="base" /}

{block name="title"}系統配置參數{/block}
{block name="body"}
<style>
    .layui-tab-content {
        margin: 15px auto 0;
    }
    .layui-form-label{
        padding-left: 0;
        width: 95px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 選項卡開始 -->
            <div class="layui-tab layui-tab-brief" lay-filter="configInfoTab">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="system">網站配置</li>
                    <li lay-id="storage">文件存儲</li>
                    <li lay-id="setconfig">支付設置</li>
                    <li lay-id="setcontact">聯絡我們</li>
                </ul>
                <div class="layui-tab-content">
                    <!-- tab1 -->
                    {include file="configure/system" /}
                    <!-- tab2 -->
                    {include file="configure/storage" /}
                    <!-- tab3 -->
                    {include file="configure/setconfig" /}
                    <!-- tab4 -->
                    {include file="configure/setcontact" /}
                </div>
            </div>
            <!-- //選項卡結束 -->
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'form', 'element', 'upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
        var upload = layui.upload;

        //圖片上傳
        upload.render({
            elem: '.imageMore',
            url: "{:url('mxadmin/upload/upload')}", //改成您自己的上傳接口
            acceptMime: 'image/*',
            size: 2048, //限制文件大小，單位 KB
            done: function(res){
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 1});
                    this.item.prev('input').val(res.data.filePath);
                    this.item.after(' <a href="'+res.data.filePath+'" target="_blank"><img src="'+res.data.filePath+'" height="38"></a>');
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                }
            }
        });

        // 文件存儲類型切換事件
        form.on('radio(raEngine)', function (data) {
            changeType(data.value);
        });
        function changeType(value) {
            if (value == 1) {
                $('#QiniuTpl').hide();
                $('#AliyunTpl').hide();
            } else if (value == 2) {
                $('#QiniuTpl').show();
                $('#AliyunTpl').hide();
            } else if (value == 3) {
                $('#AliyunTpl').show();
                $('#QiniuTpl').hide();
            }
        }
        // 初始化加載
        changeType({$storage.engine|default='1'});

        // 監聽tab切換 操作：文檔 - 內置模塊 - 常用元素操作 element - 監聽tab切換
        element.on('tab(configInfoTab)', function() {
            layfilter = this.getAttribute('lay-id') + 'Submit';
            getSubmit(layfilter);
        });

        // 表單提交事件
        function getSubmit(layfilter) {
            form.on('submit('+ layfilter +')', function (data) {
                var loadIndex = layer.load(2);
                $.post("{:url('mxadmin/configure/submit')}", data.field, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                    } else {
                        layer.msg(res.msg, {icon: 5, anim: 6});
                    }
                }, 'json');
                return false;
            });
        }
        // 初始化加載
        getSubmit('systemSubmit');

        // 測試郵箱配置
        form.on('submit(emailTest)', function (data) {
            var loadIndex = layer.load(2);
            $.post("{:url('mxadmin/configure/emailtest')}", data.field, function (res) {
                layer.close(loadIndex);
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                }
            }, 'json');
            return false;
        });
    });
</script>
{/block}
