<div class="layui-tab-item">
    <!-- 表单开始 -->
    <form class="layui-form" id="setcontactForm" lay-filter="setcontactForm">
        <input type="hidden" name="typename" value="setcontact">
        <div class="layui-form-item">
            <label class="layui-form-label">客服QQ</label>
            <div class="layui-input-block" style="width: 300px;">
                <input name="qq1" placeholder="请输入客服QQ1" value="{$setcontact.qq1|default=''}" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服QQ2</label>
            <div class="layui-input-block" style="width: 300px;">
                <input name="qq2" placeholder="请输入客服QQ1" value="{$setcontact.qq2|default=''}" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客服飞机</label>
            <div class="layui-input-block" style="width: 300px;">
                <input name="telegram" placeholder="请输入客服飞机" value="{$setcontact.telegram|default=''}" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信账户</label>
            <div class="layui-input-block" style="width: 300px;">
                <input name="wechat" value="{$setcontact.wechat|default=''}" class="layui-input" placeholder="请选择图片"/>
                <button type="button" class="layui-btn layui-btn-normal imageMore"><i class="layui-icon">&#xe681;</i>上传图片</button>
                {notempty name="setcontact.wechat"}<a href="{$setcontact.wechat}" target="_blank"><img src="{$setcontact.wechat}" height="38"></a>{/notempty}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="setcontactSubmit" lay-submit>&emsp;保存配置&emsp;</button>
            </div>
        </div>
    </form>
    <!-- //表单结束 -->
</div>