<div class="layui-tab-item">
    <!-- 表單開始 -->
    <form class="layui-form" id="storageForm" lay-filter="storageForm">
        <input type="hidden" name="typename" value="storage">
        <div class="layui-form-item">
            <label class="layui-form-label">儲存引擎</label>
            <div class="layui-input-block">
                <input type="radio" name="engine" lay-filter="raEngine" value="1" title="本地(不推薦)" {present name="storage.engine"}{eq name="storage.engine" value="1"}checked{/eq}{/present}/>
                <input type="radio" name="engine" lay-filter="raEngine" value="2" title="七牛雲" {present name="storage.engine"}{eq name="storage.engine" value="2"}checked{/eq}{/present}/>
                <input type="radio" name="engine" lay-filter="raEngine" value="3" title="阿里雲" {present name="storage.engine"}{eq name="storage.engine" value="3"}checked{/eq}{/present}/>
            </div>
        </div>
        <div id="QiniuTpl">
            <div class="layui-form-item">
                <label class="layui-form-label">AccessKey</label>
                <div class="layui-input-block">
                    <input name="accesskey" placeholder="請輸入AccessKey" value="{$storage.accesskey|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">SecretKey</label>
                <div class="layui-input-block">
                    <input type="password" name="secretkey" placeholder="請輸入SecretKey" value="{$storage.secretkey|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">空間bucket</label>
                <div class="layui-input-block">
                    <input name="bucket" placeholder="請輸入空間bucket" value="{$storage.bucket|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">空間域名</label>
                <div class="layui-input-block">
                    <input name="domain" placeholder="請輸入空間域名" value="{$storage.domain|default=''}" class="layui-input"/>
                </div>
            </div>
        </div>
        <div id="AliyunTpl">
            <div class="layui-form-item">
                <label class="layui-form-label">AliAccessKey</label>
                <div class="layui-input-block">
                    <input name="AliAccessKey" placeholder="請輸入AliAccessKey" value="{$storage.AliAccessKey|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">AliSecretKey</label>
                <div class="layui-input-block">
                    <input type="password" name="AliSecretKey" placeholder="請輸入AliSecretKey" value="{$storage.AliSecretKey|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">空間bucket</label>
                <div class="layui-input-block">
                    <input name="Alibucket" placeholder="請輸入空間bucket" value="{$storage.Alibucket|default=''}" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">空間域名</label>
                <div class="layui-input-block">
                    <input name="Alidomain" placeholder="請輸入空間域名" value="{$storage.Alidomain|default=''}" class="layui-input"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="storageSubmit" lay-submit>&emsp;保存配置&emsp;</button>
            </div>
        </div>
    </form>
    <!-- //表單結束 -->
</div>
