{extend name="base" /}
{block name="title"}系統首頁{/block}
{block name="body"}
<link rel="stylesheet" href="/template/tmp/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="/template/tmp/css/public.css" media="all">
<style>
    .layui-card {border:1px solid #f2f2f2;border-radius:5px;}
    .icon {margin-right:10px;color:#1aa094;}
    .icon-cray {color:#ffb800!important;}
    .icon-blue {color:#1e9fff!important;}
    .icon-tip {color:#ff5722!important;}
    .layuimini-qiuck-module {text-align:center;margin-top: 10px}
    .layuimini-qiuck-module a i {display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s;}
    .layuimini-qiuck-module a cite {position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px;}
    .welcome-module {width:100%;height:210px;}
    .panel {background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:10px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:12px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
    .layui-bg-number {background-color:#F8F8F8;}
    .layuimini-notice:hover {background:#f6f6f6;}
    .layuimini-notice {padding:7px 16px;clear:both;font-size:12px !important;cursor:pointer;position:relative;transition:background 0.2s ease-in-out;}
    .layuimini-notice-title,.layuimini-notice-label {
        padding-right: 70px !important;text-overflow:ellipsis!important;overflow:hidden!important;white-space:nowrap!important;}
    .layuimini-notice-title {line-height:28px;font-size:14px;}
    .layuimini-notice-extra {position:absolute;top:50%;margin-top:-8px;right:16px;display:inline-block;height:16px;color:#999;}
</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>基礎信息</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">ID</span>
                                                        <h5>用戶</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$user.id}</h1>
                                                        <small>&nbsp;</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">即時</span>
                                                        <h5>伺服器數量</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$stand}</h1>
                                                        <small>當前伺服器數</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">即時</span>
                                                        <h5>公有雲數</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">{$cloud}</h1>
                                                        <small>當前公有雲數</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>帳戶綁定</div>
                            <div class="layui-card-body">
                                <div class="layui-card-body">
                                    <table class="layui-table">
                                        <tbody>
                                            <tr>
                                                <td width="35%">登錄郵箱</td>
                                                <td><font color="red">{$user.email}</font></td>
                                            </tr>
                                            <tr>
                                                <td width="35%">帳戶手機</td>
                                                <td><font color="blue">{$user.mobile}</font></td>
                                            </tr>
                                            <tr>
                                                <td width="35%">telegram</td>
                                                <td><font color="blue">{$user.telegram}</font></td>
                                            </tr>
                                            <tr>
                                                <td width="35%">wechat</td>
                                                <td><font color="blue">{$user.wechat}</font></td>
                                            </tr>
                                            <tr>
                                                <td width="35%">用戶狀態</td>
                                                <td>{eq name='user.status' value='0'}<font color="red">禁用</font>{else /}<font color="blue">啟用</font>{/eq}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>現有雲帳戶</div>
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <th>帳戶類型</th>
                                            <th>UID</th>
                                            <th>登錄郵箱</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        {volist name='vps' id='vo'}
                                        <tr>
                                            <td>{$vo.type}</td>
                                            <td>{$vo.uid}</td>
                                            <td>{$vo.email}</td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>現有伺服器</div>
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <th>伺服器</th>
                                            <th>到期時間</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                        {volist name='server' id='vo'}
                                        <tr>
                                            <td>{$vo.content|substr=0,20}</td>
                                            <td>{$vo.endtime|date='Y-m-d'}</td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>網站公告</div>
                    <div class="layui-card-body layui-text">
                        {volist name='notice' id="vo"}
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">{$vo.title}</div>
                            <div class="layuimini-notice-extra">{$vo.addtime|date='Y-m-d H:i:s'}</div>
                            <div class="layuimini-notice-content layui-hide">
                                {$vo.content|raw}
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>技術幫助</div>
                    <div class="layui-card-body layui-text">
                        {volist name='article' id="vo"}
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">{$vo.title}</div>
                            <div class="layuimini-notice-extra">{$vo.addtime|date='Y-m-d H:i:s'}</div>
                            <div class="layuimini-notice-content layui-hide">
                                {$vo.content|raw}
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['layer','table','admin','element','index','form'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var element = layui.element;
        var index = layui.index;

        /**
         * 查看公告信息
         **/
        $('body').on('click', '.layuimini-notice', function () {
            var title = $(this).children('.layuimini-notice-title').text(),
                noticeTime = $(this).children('.layuimini-notice-extra').text(),
                content = $(this).children('.layuimini-notice-content').html();
            var html = '<div style="padding:15px 20px; text-align:justify; line-height: 22px;border-bottom:1px solid #e2e2e2;background-color: #2f4056;color: #ffffff">\n' +
                '<div style="text-align: center;margin-bottom: 20px;font-weight: bold;border-bottom:1px solid #718fb5;padding-bottom: 5px"><h4 class="text-danger">' + title + '</h4></div>\n' +
                '<div style="font-size: 12px">' + content + '</div>\n' +
                '</div>\n';
            parent.layer.open({
                type: 1,
                title: '系統公告'+'<span style="float: right;right: 1px;font-size: 12px;color: #b1b3b9;margin-top: 1px">'+noticeTime+'</span>',
                area: '300px;',
                shade: 0.8,
                id: 'layuimini-notice',
                btn: ['關閉'],
                btnAlign: 'c',
                moveType: 1,
                content:html,
                success: function (layero) {
                    var btn = layero.find('.layui-layer-btn');
                }
            });
        });
    });
</script>
{/block}
