{extend name="base" /}
{block name="title"}獨立伺服器{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具欄 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">IP地址</label>
                        <div class="layui-input-inline">
                            <input name="ip" class="layui-input" autocomplete="off" placeholder="請輸入獨立IP"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">到期時間</label>
                        <div class="layui-input-inline">
                            <input name="end_time" id="end_time" class="layui-input icon-date" placeholder="選擇到期時間" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="roleTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </form>
            <!-- 數據表格 -->
            <table id="roleTable" lay-filter="roleTable"></table>
        </div>
    </div>
</div>

<script type="text/html" id="roleXuStand">
    <form id="roleXuForm" lay-filter="roleXuForm" class="layui-form model-form">
        <input name="id" type="hidden" />
        <input type="hidden" name="tax" value="{$setconfig.tax}" />
        <div class="layui-form-item">
            <label class="layui-form-label">續期費用</label>
            <div class="layui-input-inline" style="width:200px;">
                <input name="seller" placeholder="請輸入續期費用" class="layui-input" autocomplete="off" lay-verType="tips" lay-verify="required" required readonly />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">續期時間</label>
            <div class="layui-input-inline" style="width:200px;">
                <input name="num" type="number" placeholder="請輸入續期幾個月" class="layui-input" autocomplete="off" lay-verType="tips" lay-verify="required" required />
            </div>
            <div class="layui-form-mid layui-word-aux">續期幾個月就填寫幾</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否開票</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="radio" name="istax" value="1" title="是">
                <input type="radio" name="istax" value="0" title="否" checked>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="roleXuSubmit" lay-submit>確認續期</button>
            <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="roleTbBar">
    <a class="layui-btn layui-btn-xs" lay-event="xuqi">續期</a>
</script>
{/block}
{block name="script"}
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'laydate', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var laydate = layui.laydate;
        var xmSelect = layui.xmSelect;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#roleTable',
            url: "{:url('member/stand/datalist')}",
            page: {limit: 45},
            limits: [15, 30, 45, 60, 75, 90, 100, 200, 500],
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {field: 'content', title: '伺服器資訊', align: 'left'},
                {field: 'seller', title: '續費價格', align: 'left',totalRow: true},
                {field: 'time', title: '添加時間<br>到期時間', align: 'left'},
                {title: '操作', toolbar: '#roleTbBar', align: 'center', minWidth: 100, fixed: 'right'}
            ]],
            parseData: function(res){ //res 即為原始返回的數據
                return {
                    "code": res.code, //解析接口狀態
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析數據長度
                    "data": res.data.data //解析數據列表
                };
            }
        });

        laydate.render({
            elem: '#end_time',
            type: 'date',
            value: new Date(),
            isInitValue: false
        });

        /* 表格搜索 */
        form.on('submit(roleTbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}, url:"{:url('member/stand/search')}"});
            return false;
        });

        /* 表格工具條點擊事件 */
        table.on('tool(roleTable)', function (obj) {
            if (obj.event === 'xuqi') {
                showXuModel(obj.data);
            }
        });

        /* 顯示獨立伺服器添加彈窗 */
        function showXuModel(mData) {
            admin.open({
                type: 1,
                title: '伺服器續期',
                area: '510px',
                shade: 0.5,
                //shadeClose: true,
                content: $('#roleXuStand').html(),
                success: function (layero, dIndex) {
                    // 回顯表單數據
                    form.val('roleXuForm', mData);
                    // 表單提交事件
                    form.on('submit(roleXuSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.post("{:url('member/stand/xudata')}", data.field, function (res) {
                            layer.close(loadIndex);
                            if (res.code === 1) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                window.open(res.url, '_blank');
                                insTb.reload();  // 保存成功刷新表格
                            } else {
                                layer.msg(res.msg, {icon: 5, anim: 6});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }
    });
</script>
{/block}
