<!-- 表單彈窗 -->
<style>
    .layui-form-item {
        margin-top: 20px;
    }
    .layui-form-item .layui-form-label{
        width: 90px;
    }
    .layui-form-item .layui-input-block {
        margin-left: 120px;
    }
    .layui-form-item .layui-inline {
        margin-right: 0;
    }
    .form-group-bottom {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .05);
        z-index: 9;
    }
    body .tox-tinymce-aux {
        z-index: 19892000;
    }

    .photosList{width: 92px; display: inline-block; margin: 0 10px 10px 0;}
    .photosList .layui-upload-img{width: 92px; height: 92px; cursor: zoom-in;}
    .photosList a{width: 100%;}
</style>
<form id="mxForm" lay-filter="mxForm" class="layui-form" style="background:#f5f7f9;">
    <input name="id" type="hidden"/>
    <div class="layui-fluid" style="padding-bottom: 75px;">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">文章標題</label>
                    <div class="layui-input-inline" style="width:300px;">
                        <input name="title" id="title" class="layui-input" autocomplete="off" placeholder="請輸入文章標題" lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章內容</label>
                    <div class="layui-input-inline" style="width: 800px;">
                        <textarea class="TinyEditor" id="my-editor" name="content" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group-bottom text-center">
        <button class="layui-btn" lay-filter="mxSubmit" lay-submit>保存</button>
        <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
    </div>
</form>

<script type="text/javascript" src="/static/assets/libs/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/assets/libs/sortable/sortable.min.js"></script>
<script>
    layui.use(['layer', 'form', 'admin', 'xmSelect', 'upload', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var xmSelect = layui.xmSelect;
        var upload = layui.upload;
        var element = layui.element;

        // 渲染富文本编辑器
        tinymce.init({
            //selector: '.TinyEditor',
            selector: '#my-editor',
            height: 525,
            branding: false,
            language: 'zh_CN',
            plugins: 'code print preview fullscreen paste searchreplace save autosave link autolink image imagetools media table codesample lists advlist hr charmap emoticons anchor directionality pagebreak quickbars nonbreaking visualblocks visualchars wordcount',
            toolbar: 'fullscreen preview code | undo redo | forecolor backcolor | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | formatselect fontselect fontsizeselect | link image media emoticons charmap pagebreak | anchor codesample ltr rtl',
            content_style: "img {max-width:100%;}",
            convert_urls: false,
            images_upload_handler: function (blobInfo, succFun, failFun) {
                var xhr, formData;
                var file = blobInfo.blob();//轉化為易於理解的file對象
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', "{:url('mxadmin/upload/upload_editor_same')}");
                xhr.onload = function() {
                    var json;
                    if (xhr.status != 200) {
                        failFun('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);
                    if (!json || typeof json.location != 'string') {
                        failFun('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    succFun(json.location);
                };
                formData = new FormData();
                formData.append('file', file, file.name );//此處與源文檔不一樣
                xhr.send(formData);
            },
            setup: function(editor){
                editor.on('change',function(){ editor.save(); }); //ajax提交表單自動同步textarea
            }
        });

        var mData = admin.getLayerData('#mxForm').formdata;  // 列表頁面傳遞的數據，#mxForm這個只要寫彈窗內任意一個元素的id即可
        // 回顯數據
        form.val('mxForm', mData);

        // 表單提交事件
        form.on('submit(mxSubmit)', function (data) {
            layer.load(2);
            var url = mData ? "{:url('mxadmin/notice/edit')}" : "{:url('mxadmin/notice/add')}";
            $.post(url, data.field, function (res) {
                layer.closeAll('loading');
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 1});
                    admin.putLayerData('formOk', true, '#mxForm');  // 設置操作成功的標識，#mxForm這個只要寫彈窗內任意一個元素的id即可
                    admin.closeDialog('#mxForm');  // 關閉頁面層彈窗
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                }
            }, 'json');
            return false;
        });
    });

</script>
