{extend name="base" /}

{block name="title"}帳戶管理{/block}

{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具欄 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">帳&emsp;號</label>
                        <div class="layui-input-inline">
                            <input name="username" class="layui-input" placeholder="輸入帳號關鍵詞"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">昵&emsp;稱</label>
                        <div class="layui-input-inline">
                            <input name="nickname" class="layui-input" placeholder="輸入昵稱關鍵詞"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">創建時間</label>
                        <div class="layui-input-inline">
                            <input name="createDateSel" class="layui-input icon-date" placeholder="選擇日期範圍" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">狀&emsp;態</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value="">--- 全部 ---</option>
                                <option value="1">啟用</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="userTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜尋
                        </button>
                    </div>
                </div>
            </form>
            <!-- 數據表格 -->
            <table id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="userTbBar">
    <a class="layui-btn layui-btn-xs {{(d.id != {$admin_id} && d.is_admin == 1)?'layui-btn-disabled':''}}" {{(d.id != {$admin_id} && d.is_admin == 1)?'':'lay-event="edit"'}}>修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger {{(d.id == {$admin_id} || d.is_admin == 1)?'layui-btn-disabled':''}}" {{(d.id == {$admin_id} || d.is_admin == 1)?'':'lay-event="del"'}}>刪除</a>
</script>
<!-- 表格狀態列 -->
<script type="text/html" id="userTbState">
    <input type="checkbox" lay-filter="userTbStateCk" value="{{d.id}}" lay-skin="switch" lay-text="啟用|禁用" {{d.status==1?'checked':''}} style="display: none;"/>
    <p style="display: none;">{{d.status==1?'啟用':'禁用'}}</p>
</script>

<!-- 表單彈窗 -->
<script type="text/html" id="userEditDialog">
    <form id="userEditForm" lay-filter="userEditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">登錄帳號</label>
            <div class="layui-input-block">
                <input name="username" class="layui-input" placeholder="請輸入登錄帳號" minlength="2" maxlength="20" lay-verType="tips" lay-verify="required|h5" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">帳號昵稱</label>
            <div class="layui-input-block">
                <input name="nickname" class="layui-input" placeholder="請輸入帳號昵稱" minlength="2" maxlength="20" lay-verType="tips" lay-verify="required|h5" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">新 密 碼</label>
            <div class="layui-input-block">
                <input type="password" name="newpassword" placeholder="請輸入新密碼" class="layui-input" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">確認密碼</label>
            <div class="layui-input-block">
                <input type="password" name="repassword" placeholder="請再次輸入新密碼" class="layui-input" lay-verType="tips" lay-verify="required|equalTo" lay-equalTo="input[name=newpassword]" lay-equalToText="兩次輸入密碼不一致" required/>
            </div>
        </div>
        <div class="layui-form-item" id="roleName">
            <label class="layui-form-label layui-form-required">所屬角色</label>
            <div class="layui-input-block">
                <div id="userEditRoleSel"></div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="userEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
        </div>
    </form>
</script>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'form', 'formX', 'table', 'admin', 'xmSelect', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var xmSelect = layui.xmSelect;
        var laydate = layui.laydate;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#userTable',
            url: "{:url('mxadmin/admin/datalist')}",
            page: {limit: 15},
            limits: [15, 30, 45, 60, 75, 90, 100, 200, 500],
            toolbar: ['<p>',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>批量刪除</button>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加帳號</button>&nbsp;',
                '</p>'].join(''),
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: '用戶ID', align: 'center', sort: true, width: 90},
                {field: 'username', title: '帳號', align: 'center', sort: true},
                {field: 'nickname', title: '昵稱', align: 'center', sort: true},
                {
                    field: 'roleName', title: '所屬角色', align: 'center', templet: function (d) {
                        if(d.is_admin == 1){
                            return '<span class="layui-badge layui-badge-red">超級管理員</span>';
                        }else{
                            return d.roles.map(function (item) {
                                return '<span class="layui-badge layui-badge-green">' + item.title + '</span>';
                            }).join('&nbsp;&nbsp;');
                        }
                    }
                },
                {field: 'last_login_time', title: '上次登錄時間', align: 'center', sort: true},
                {field: 'login_time', title: '登錄時間', align: 'center', sort: true},
                {field: 'create_time', title: '創建時間', align: 'center', sort: true},
                {field: 'status', title: '狀態', templet: '#userTbState', align: 'center', sort: true, width: 100},
                {title: '操作', toolbar: '#userTbBar', align: 'center', minWidth: 180}
            ]],
            parseData: function(res){ //res 即為原始返回的數據
                return {
                    "code": res.code, //解析接口狀態
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析數據長度
                    "data": res.data.data //解析數據列表
                };
            },
        });

        /* 渲染時間選擇 */
        laydate.render({
            elem: 'input[name="createDateSel"]',
            type: 'date',
            range: true,
            trigger: 'click'
        });

        /* 表格搜尋 */
        form.on('submit(userTbSearch)', function (data) {
            if (data.field.createDateSel) {
                var searchDate = data.field.createDateSel.split(' - ');
                data.field.startDate = searchDate[0];
                data.field.endDate = searchDate[1];
            } else {
                data.field.startDate = null;
                data.field.endDate = null;
            }
            data.field.createDateSel = undefined;
            insTb.reload({where: data.field, page: {curr: 1}, url:"{:url('mxadmin/admin/serach')}"});
            return false;
        });

        /* 表格操作列點擊事件 */
        table.on('tool(userTable)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 刪除
                doDel(obj,'您確定要刪除“' + obj.data.username + '”的帳號嗎？');
            }
        });

        /* 表格頭工具欄點擊事件 */
        table.on('toolbar(userTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 刪除
                var checkRows = table.checkStatus('userTable');
                if (checkRows.data.length === 0) {
                    layer.msg('請選擇要刪除的帳號', {icon: 5, anim: 6});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids},'您確定要刪除選中的這些帳號嗎？');
            }
        });

        /* 顯示表單彈窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '帳號',
                shade: 0.5,
                //shadeClose: true,
                content: $('#userEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回顯表單數據
                    form.val('userEditForm', mData);
                    // 表單提交事件
                    form.on('submit(userEditSubmit)', function (data) {
                        data.field.role_id = insRoleSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        $.post(mData ? "{:url('mxadmin/admin/edit')}" : "{:url('mxadmin/admin/add')}", data.field, function (res) {
                            layer.close(loadIndex);
                            if (res.code === 1) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload();  // 保存成功刷新表格
                            } else {
                                layer.msg(res.msg, {icon: 5, anim: 6});
                            }
                        }, 'json');
                        return false;
                    });
                    // 渲染多選下拉框
                    var insRoleSel = xmSelect.render({
                        el: '#userEditRoleSel',
                        name: 'userEditRoleSel',
                        layVerify: 'required',
                        layVerType: 'tips',
                        prop: {
                            name: 'title',
                            value: 'id',
                        },
                        data: {:json_encode($rolelist)}
                    });
                    // 回顯選中角色
                    if (mData && mData.roles) {
                        insRoleSel.setValue(mData.roles.map(function (item) {
                            return item.group_id;
                        }));
                    }
                    // 編輯文本框狀態
                    if (mData) {
                        $(layero).find('[name="username"]').attr('disabled','disabled').addClass("layui-bg-gray");
                        $(layero).find('[name="newpassword"]').removeAttr('lay-verType lay-verify required');
                        $(layero).find('[name="newpassword"]').attr('placeholder','若不修改密碼，請留空');
                        $(layero).find('[name="repassword"]').attr('lay-verify','equalTo');
                        $(layero).find('[name="repassword"]').removeAttr('required');
                        if (mData.is_admin === 1) {$(layero).find('#roleName').remove();}
                    }
                    // 禁止彈窗出現滾動條
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 刪除 */
        function doDel(obj,txt) {
            layer.confirm(txt, {
                title: '刪除帳號',
                skin: 'layui-layer-admin',
                shade: 0.5,
                //shadeClose: true,
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.post("{:url('mxadmin/admin/del')}", {
                    id: obj.data ? obj.data.id : '',
                    ids: obj.ids ? obj.ids.join(',') : ''
                }, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload();
                    } else {
                        layer.msg(res.msg, {icon: 5, anim: 6});
                    }
                }, 'json');
            });
        }

        /* 修改用戶狀態 */
        form.on('switch(userTbStateCk)', function (obj) {
            var loadIndex = layer.load(2);
            $.post("{:url('mxadmin/admin/edit_state_same')}", {
                id: obj.elem.value,
                status: obj.elem.checked ? 1 : 0
            }, function (res) {
                layer.close(loadIndex);
                if (res.code === 1) {
                    layer.msg(res.msg);
                    insTb.reload();
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'json');
        });
    });
</script>
{/block}
