{extend name="base" /}
{block name="title"}雲帳戶管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格工具欄 -->
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">雲帳戶UID</label>
                        <div class="layui-input-inline">
                            <input name="uid" class="layui-input" autocomplete="off" placeholder="輸入雲帳戶UID"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">開戶郵箱</label>
                        <div class="layui-input-inline">
                            <input name="email" class="layui-input" autocomplete="off" placeholder="輸入郵箱地址"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">帳戶類型</label>
                        <div class="layui-input-inline">
                            <select name="type">
                                <option value="0">--- 全部 ---</option>
                                <option value="1">阿里雲</option>
                                <option value="2">騰訊雲</option>
                                <option value="3">AWS</option>
                                <option value="4">谷歌雲</option>
                                <option value="5">Azure</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">&emsp;
                        <button class="layui-btn icon-btn" lay-filter="roleTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button class="layui-btn layui-btn-warm" lay-filter="roleTbExport" lay-submit>
                            <i class="layui-icon">&#xe67d;</i>導出
                        </button>
                    </div>
                </div>
            </form>
            <!-- 資料表格 -->
            <table id="roleTable" lay-filter="roleTable"></table>
        </div>
    </div>
</div>
<script type="text/html" id="roleReCloud">
    <form id="roleReForm" lay-filter="roleReForm" class="layui-form model-form">
        <input name="id" type="hidden" />
        <input type="hidden" name="rate" value="{$setconfig.rate}" />
        <input type="hidden" name="type" />
        <input type="hidden" name="tax" value="{$setconfig.tax}" />
        <div class="layui-form-item">
            <label class="layui-form-label">金額</label>
            <div class="layui-input-inline" style="width:200px;">
                <input name="num" placeholder="請輸入金額USD" class="layui-input" autocomplete="off" lay-verType="tips" lay-verify="required" required />
            </div>
            <div class="layui-form-mid layui-word-aux">美金USD</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">兌換匯率</label>
            <div class="layui-input-inline" style="width:200px; margin-top: 10px;">
                {$setconfig.rate}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否開票</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="radio" name="istax" value="1" title="是">
                <input type="radio" name="istax" value="0" title="否" checked>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="roleReSubmit" lay-submit>確認充值</button>
            <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="roleTbBar">
    <a class="layui-btn layui-btn-xs" lay-event="recharge">充值</a>
</script>
{/block}
{block name="script"}
<script type="text/javascript" src="/static/assets/libs/layui_exts/excel.js"></script>
<script type="text/javascript" src="/template/tmp/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/template/tmp/js/jquery.qrcode.min.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#roleTable',
            url: "{:url('member/yun/datalist')}",
            page: {limit: 15},
            limits: [15, 30, 45, 60, 75, 90, 100, 200, 500],
            cellMinWidth: 100,
            height: 'full-50',
            cols: [[
                {type: 'checkbox'},
                {
                    title: '帳戶類型', templet: function (d) {
                        return [
                            '阿里雲國際',
                            '騰訊雲國際',
                            '華為雲國際',
                            'AWS',
                            'GCP',
                            'Azure'
                        ][d.type];
                    }, align: 'center'
                },
                {field: 'uid', title: '雲帳戶UID', align: 'left'},
                {field: 'email', title: '登入郵箱', align: 'left'},
                {field: 'info', title: '帳戶詳細', align: 'left'},
                {field: 'usd', title: '餘額', align: 'left'},
                {title: '操作', toolbar: '#roleTbBar', align: 'center', minWidth: 120, fixed: 'right'}
            ]],
            parseData: function(res){ //res 即為原始返回的資料
                return {
                    "code": res.code, //解析接口狀態
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析資料長度
                    "data": res.data.data //解析資料列表
                };
            }
        });

        /* 表格搜索 */
        form.on('submit(roleTbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}, url:"{:url('member/yun/search')}"}); 
            return false;
        });

        /* 表格導出 */
        form.on('submit(roleTbExport)', function (data) {
            loading = layer.load(1, {shade: [0.3, '#fff']});
            var $ = layui.jquery;
            var excel = layui.excel;
            $.ajax({
                url: '{:url("member/yun/excel")}',
                data: data.field,
                success: function(res) {
                    layer.close(loading);
                    layer.msg(res.msg);
                    // 假如返回的 res.data 是需要導出的列表資料
                    // 1. 陣列頭部新增表頭
                    res.data.unshift({uid: '雲帳戶UID',type: '雲類型',email:'登入郵箱',usd:'金額',info:'帳戶詳細',status:'狀態',addtime: '創建時間'});
                    // 3. 執行導出函數，系統會彈出彈框
                    excel.exportExcel({
                        sheet1: res.data
                    }, '雲帳戶列表.xlsx', 'xlsx');
                },
                error:function(res){
                    layer.close(loading);
                    layer.msg(res.msg);
                }
            });
            return false;
        });

        /* 表格工具欄點擊事件 */
        table.on('tool(roleTable)', function (obj) {
            if (obj.event === 'recharge') { // 修改
                showRechargeModel(obj.data);
            }
        });

        /* 顯示帳戶申請彈窗 */
        function showRechargeModel(mData) {
            admin.open({
                type: 1,
                title: '帳戶充值',
                area: '510px',
                shade: 0.5,
                //shadeClose: true,
                content: $('#roleReCloud').html(),
                success: function (layero, dIndex) {
                    // 回顯表單資料
                    form.val('roleReForm', mData);
                    // 表單提交事件
                    form.on('submit(roleReSubmit)', function (data) {
                        var loadIndex = layer.load(2);
                        $.post("{:url('member/yun/recharge')}", data.field, function (res) {
                            console.log(res);
                            layer.close(loadIndex);
                            if (res.code === 1) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                window.open(res.url, '_blank');
                                insTb.reload();  // 保存成功刷新表格
                                //window.open(res.url, '_blank');
                            } else {
                                layer.msg(res.msg, {icon: 5, anim: 6});
                            }
                        }, 'json');
                        return false;
                    });
                }
            });
        }

    });
</script>
{/block}
