{extend name="base" /}

{block name="title"}規則管理{/block}
{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 數據表格 -->
            <table id="authTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="authTbBar">
    <a class="layui-btn layui-btn-xs layui-btn-normal{{#if(d.ismenu != 0){}} layui-btn-disabled{{#}}}"{{#if(d.ismenu == 0){}} lay-event="addson"{{#}}}>添加子規則</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger{{#if(d.children){}} layui-btn-disabled{{#}}}"{{#if(!d.children){}} lay-event="del"{{#}}}>刪除</a>
</script>
<!-- 表單彈窗 -->
<script type="text/html" id="authEditDialog">
    <form id="authEditForm" lay-filter="authEditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">上級規則</label>
            <div class="layui-input-block">
                <div id="authEditParentSel" class="mx-xmselect-tree"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">規則名稱</label>
            <div class="layui-input-block">
                <input name="title" placeholder="請輸入規則名稱" class="layui-input" lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">規則類型</label>
            <div class="layui-input-block">
                <input name="ismenu" type="radio" value="0" title="鏈接" checked/>
                <input name="ismenu" type="radio" value="1" title="按鈕"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">規則URL</label>
            <div class="layui-input-block">
                <input name="name" placeholder="請輸入規則URL" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜單圖標</label>
            <div class="layui-input-inline">
                <input name="icon" placeholder="請輸入或選擇圖標" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: auto;">
                <span style="padding:0 12px;min-width:45px" class='layui-btn layui-btn-primary'>
                    <i style="font-size:1.2em;margin:0" class="" id="iconImg"></i>
                </span>
                <a class="layui-btn layui-btn-normal" id="ChooseIconBtn">選擇圖標</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序權重</label>
            <div class="layui-input-block">
                <input name="weight" placeholder="請輸入排序權重" type="number" class="layui-input" lay-verType="tips" lay-verify="number" value="50"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">導航菜單</label>
            <div class="layui-input-block">
                <input name="isnav" type="radio" value="1" title="是"/>
                <input name="isnav" type="radio" value="0" title="否" checked/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="authEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" mx-event="closeDialog">取消</button>
        </div>
    </form>
</script>
{/block}

{block name="script"}
<script>
    layui.use(['layer', 'form', 'admin', 'treeTable', 'xmSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var treeTable = layui.treeTable;
        var xmSelect = layui.xmSelect;

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#authTable',
            url: "{:url('mxadmin/auth/datalist')}",
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加規則</button>&nbsp;',
                '<button lay-event="FoldAll" class="layui-btn layui-btn-sm layui-btn-warm icon-btn"><i class="layui-icon">&#xe602;</i>折疊全部</button>&nbsp;',
                '<button lay-event="ExpandAll" class="layui-btn layui-btn-sm layui-btn-warm icon-btn"><i class="layui-icon">&#xe61a;</i>展開全部</button>&nbsp;',
                '</p>'].join(''),
            tree: {
                arrowType: 'arrow2',
                getIcon: 'mx-tree-icon-style2',
                iconIndex: 1,
                idName: 'id',
                pidName: 'pid',
                isPidData: true
            },
            cols: [[
                {field: 'id', title: '規則ID', align: 'center', width: 20},
                {field: 'title', title: '規則名稱', minWidth: 130},
                {field: 'name', title: '規則URL'},
                {field: 'weight', title: '排序權重', align: 'center', width: 20, edit: 'text'},
                {title: '菜單圖標', templet: '<p><i class="{{d.icon}}"></i></p>', align: 'center', width: 20},
                {
                    title: '規則類型', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-blue">鏈接</span>',
                            '<span class="layui-badge layui-badge-gray">按鈕</span>'
                        ][d.ismenu];
                    }, align: 'center', width: 20
                },
                {
                    title: '導航菜單', templet: function (d) {
                        return [
                            '<span class="layui-badge layui-badge-red">否</span>',
                            '<span class="layui-badge layui-badge-green">是</span>'
                        ][d.isnav];
                    }, align: 'center', width: 20
                },
                {field: 'create_time', title: '創建時間', align: 'center'},
                {field: 'update_time', title: '更新時間', align: 'center'},
                {title: '操作', toolbar: '#authTbBar', align: 'center', minWidth: 130}
            ]],
        });

        /* 表格操作列點擊事件 */
        treeTable.on('tool(authTable)', function (obj) {
            if (obj.event === 'addson') { // 添加子菜單
                showEditModel(obj.data, 'son');
            } else if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 刪除
                doDel(obj);
            }
        });

        /* 表格頭工具欄點擊事件 */
        treeTable.on('toolbar(authTable)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'FoldAll') { // 折疊全部
                doFold(0);
            } else if (obj.event === 'ExpandAll') { // 展開全部
                doFold(1);
            }
        });

        /* 監聽單元格編輯 */
        treeTable.on('edit(authTable)', function(obj){
            if(isNaN(obj.value)){
                layer.msg('只能輸入數字！', {icon: 5, anim: 6});
                return false;
            }
            var loadIndex = layer.load(2);
            $.post("{:url('mxadmin/auth/edit_weight_same')}", {
                id: obj.data.id,
                weight: obj.value
            }, function (res) {
                layer.close(loadIndex);
                if (res.code === 1) {
                    layer.msg(res.msg);
                    insTb.reload();
                } else {
                    layer.msg(res.msg, {icon: 5, anim: 6});
                }
            }, 'json');
        });

        /* 顯示表單彈窗 */
        function showEditModel(mData, btnType) {
            admin.open({
                type: 1,
                area: '510px',
                title: (btnType ? '添加子' : mData ? '修改' : '添加') + '規則',
                shade: 0.5,
                content: $('#authEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回顯表單數據
                    form.val('authEditForm', btnType ? '' : mData);
                    if(mData && !btnType){
                        $(layero).find('[id="iconImg"]').attr('class',mData.icon);
                    }
                    form.on('submit(authEditSubmit)', function (data) {
                        data.field.pid = insXmSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        $.post(btnType ? "{:url('mxadmin/auth/add')}" : mData ? "{:url('mxadmin/auth/edit')}" : "{:url('mxadmin/auth/add')}", data.field, function (res) {
                            layer.close(loadIndex);
                            if (res.code === 1) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.refresh();
                            } else {
                                layer.msg(res.msg, {icon: 5, anim: 6});
                            }
                        }, 'json');
                        return false;
                    });
                    insTb.eachData(function(i,item){
                        if (item.ismenu == 1) item.disabled = true;
                    });
                    if (mData) {
                        insTb.refresh();
                        insTb.eachData(function(i,item){
                            if (item.id == mData.id) item.disabled = true;
                        });
                    }
                    var insXmSel = xmSelect.render({
                        el: '#authEditParentSel',
                        tips: '頂級規則',
                        height: '250px',
                        data: insTb.options.data,
                        initValue: btnType ? [mData.id] : mData ? [mData.pid] : [],
                        model: {label: {type: 'text'}},
                        prop: {
                            name: 'title',
                            value: 'id'
                        },
                        radio: true,
                        clickClose: true,
                        tree: {
                            show: true,
                            indent: 15,
                            strict: false,
                            expandedKeys: true
                        },
                        disabled: btnType ? true : false,
                    });
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    $('#ChooseIconBtn').click(function () {
                        showIconModel();
                    });
                }
            });
        }

        /* 刪除 */
        function doDel(obj) {
            layer.confirm('確定要刪除“' + obj.data.title + '”的規則嗎？', {
                title: '刪除規則',
                skin: 'layui-layer-admin',
                shade: 0.5,
            }, function (i) {
                layer.close(i);
                var loadIndex = layer.load(2);
                $.post("{:url('mxadmin/auth/del')}", {id: obj.data.id}, function (res) {
                    layer.close(loadIndex);
                    if (res.code === 1) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.refresh();
                    } else {
                        layer.msg(res.msg, {icon: 5, anim: 6});
                    }
                }, 'json');
            });
        }

        /* 圖標選擇 */
        function showIconModel() {
            var layIndex = admin.open({
                title: '圖標選擇',
                shade: 0.5,
                area: ['750px', '500px'],
                url: "{:url('mxadmin/auth/icon')}",
                end: function () {
                    var iconValue = admin.getLayerData(layIndex, 'iconValue');
                    if(iconValue) {
                        $('[name="icon"]').val(iconValue);
                        $("#iconImg").attr('class', iconValue);
                    }
                },
            });
        }

        /* 折疊/展開 */
        function doFold(type) {
            $.post("{:url('mxadmin/auth/datalist_open_same')}", {type: type}, function (res) {
                if (type === 0) {
                    layer.msg('已全部折疊');
                    insTb.refresh();
                } else {
                    layer.msg('已全部展開');
                    insTb.refresh();
                }
            }, 'json');
        }
    });
</script>
{/block}
