<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Content-Language" content="zh-TW" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="applicable-device" content="pc,mobile">
    <title>雲服務|物理機/獨立伺服器購買說明 - {$sysconf.webname}</title>
    <!-- <meta name="keywords" content="購買說明" /> -->
    <meta name="description" content="了解如何通過{$sysconf.webname}代理購買阿里雲國際、騰訊雲國際、華為雲國際、AWS、GCP和Azure等主流雲平台的雲服務，包括購買流程、支付方式、產品選擇和激活步驟。無論您是個人用戶還是企業客戶，都能找到適合的雲產品購買方案。">
    <link rel="icon" href="/static/aliyun/images/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="雲服務|物理機/獨立伺服器購買說明">
    <meta property="og:description" content="了解如何通過{$sysconf.webname}代理購買阿里雲國際、騰訊雲國際、華為雲國際、AWS、GCP和Azure等主流雲平台的雲服務，包括購買流程、支付方式、產品選擇和激活步驟。無論您是個人用戶還是企業客戶，都能找到適合的雲產品購買方案。">
    <meta property="og:image" content="{:config('app.hostname')}/static/aliyun/images/1.png">
    <link rel="canonical" href="{:config('app.hostname')}/Introduce">
    <meta name="twitter:title" content="雲服務|物理機/獨立伺服器購買說明">
    <meta name="twitter:description" content="了解如何通過{$sysconf.webname}代理購買阿里雲國際、騰訊雲國際、華為雲國際、AWS、GCP和Azure等主流雲平台的雲服務，包括購買流程、支付方式、產品選擇和激活步驟。無論您是個人用戶還是企業客戶，都能找到適合的雲產品購買方案。">
    <meta name="twitter:image" content="{:config('app.hostname')}/static/aliyun/images/1.png">
    <link rel="stylesheet" rev="stylesheet" href="/static/aliyun/style/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/aliyun/style/font-awesome-4.7.0/css/font-awesome.min.css" media="screen" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/aliyun/style/index_ban.css">
    <link rel="stylesheet" type="text/css" href="/static/aliyun/style/iconfont.css">
    <script src="/static/aliyun/js/jquery-2.2.4.min.js" type="text/javascript"></script>
</head>

<body class="umAni">
{include file='public/header'}

<div class="breadcrumb">
    <div class="container">
        <i class="fa fa-home"></i> <a href="{:config('app.hostname')}" title="{$sysconf.webname}">首頁</a> &raquo; 正文
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="article">
            <div class="article-box">
                <header class="article-top">
                    <h2 class="article-tit">註冊說明</h2>
                </header>

                <article class="article-main">
                    <p>1、點擊網站右上角&nbsp;<a href="http://www.app.com/member" target="_blank" rel="noopener">登入</a>&nbsp;按鈕，點擊<a href="http://www.app.com/member/register">註冊</a>填寫自己的郵箱、密碼就可以註冊成功T1 cloud計算</p>
                    <p>2、點擊導航欄<a href="http://www.app.com/Cloud/">雲產品</a>或者<a href="http://www.app.com/Server/">物理機</a>打開，選擇自己需要的產品。</p>
                    <p><img src="/storage/images/20241218/28939637b740b10913ab96d5d531e08d.png" /></p>
                    <p>根據相關選項填寫信息，進行付款操作。</p>
                    <p>本平台支持支付寶支付和微信支付</p>
                    <p>支付成功後，購買的產品將3~12小時進行交互。</p>
                    <p>3、產品充值或者續費</p>
                    <p>在<a href="/">首頁</a>：<a href="/">www.kaihu123.com</a> 選擇點擊<a href="https://www.kaihu123.com/member">登入</a> 登入成功後在導航菜單選擇</p>
                    <p><img src="/storage/images/20241218/ae6c94ade883ed87880942cf1723b9c5.png" /></p>
                    <p>選擇自己充值或者續期的產品，進行充值或者續期。</p>
                    <p>付款成功後，3～12小時就可以完成續期和充值</p>
                </article>
            </div>
        </div>
    </div>
</div>

{include file='public/footer'}
<script src="/static/aliyun/js/lib.js"></script>
<script src="/static/aliyun/js/function.js"></script>
</body>

</html>
